@model HaikuLab3.Models.HaikuDetail

@{
    ViewData["Title"] = "InsertHaikuForm";
}

<h1>Skapa en haiku</h1>

<h5>Hej @TempData["Test"]!</h5>

<p>@ViewBag.felmedd</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="InsertHaikuForm" onsubmit="return countVowelOfAll()">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ha_Title" class="control-label">Titel</label>
                <input asp-for="Ha_Title" class="form-control" required maxlength="30" />
                <span asp-validation-for="Ha_Title" class="text-danger"></span>
            </div>

             <div class="form-group">
                <label asp-for="Ha_Content" class="control-label">Skriv din haiku här</label>
                <div class="input-group">
                <textarea asp-for="Ha_Content" style="resize:none;" rows="3" class="form-control" id= "Ha_Content" name = "Ha_Content" onkeyup="countVowel();" required maxlength="135" ></textarea>
                <img id="check" style="width:40px; height:40px; visibility:hidden;" class="input-group-addon" src="~/images/check.jpeg" />
                </div>
               <span asp-validation-for="Ha_Content" class="text-danger"></span>
               <p id="counttext" style="display:none; font-weight:bold;">Din haiku innehåller <span id = "span"></span> stavelser.</p>
            
                
            </div>
            
            <div class="form-group">
                <label asp-for="Ha_Genre">Välj en genre</label>
                <select id= "Ha_Genre" name ="Ha_Genre">
                    <option value = "drama">Drama</option>
                    <option value = "skräck">Skräck</option>
                    <option value = "komedi">Komedi</option>
                    <option value = "djur">Djur</option>
                    <option value = "Högtid">Högtid</option>
                    <option value = "sommar">Sommar</option>
                    <option value = "populärkultur">Populärkultur</option>
                
                </select>                     

            </div>
           
            <div>
                <input type="hidden" id="Ha_Alias" name="Ha_Alias" value="@TempData["Test"]"/>
            </div>
          

            <br />
            <div class="form-group">
                <input type="submit" value="Skapa" class="btn btn-primary"/>
            </div>
            <br />
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Tillbaka till startsidan", "Home", "Start", null, null) |
    @Html.ActionLink("Till min sida", "ShowMyPage", "User", null, null)
</div>

@section Scripts{
    <script>
    const vowels = ["a","e", "i", "o", "u", "y", "å", "ä", "ö"]

    function countVowel(){

        var input = document.getElementById("Ha_Content").value;
        let count = 0;

        for (let letter of input.toLowerCase()){
            if (vowels.includes(letter)){
                count++;
            }
        }
      
        var inputborder = document.getElementById("Ha_Content");
        var area = document.getElementById("span");        
        var countingtext = document.getElementById("counttext");
        var check = document.getElementById("check");
        countingtext.style.display = "block";

        if (count < 17) {
            countingtext.style.color = "red";  
            inputborder.style.border = "2px solid red";
            check.style.visibility = "hidden";
        } else if (count == 17) {            
            countingtext.style.color = "#32CD32";  
            inputborder.style.border = "2px solid #32CD32"
            check.style.visibility = "visible";
        } else {            
            countingtext.style.color = "red";  
            inputborder.style.border = "2px solid red";
            check.style.visibility = "hidden";      
        }                
        
        area.innerHTML = count;
        
        return count;
       
    }
 //   function countVowel5(){

 //       var input = document.getElementById("Content1").value;
 //       let count = 0;

 //       for (let letter of input.toLowerCase()){
 //           if (vowels.includes(letter)){
 //               count++;
 //           }
 //       }
      
 //       var inputborder = document.getElementById("Content1");
 //       var span = document.getElementById("span1");        
 //       var countingtext = document.getElementById("counttext1");
 //       //var check = document.getElementById("check1");
 //       countingtext.style.display = "block";

 //       if (count < 5) {
 //           countingtext.style.color = "red";  
 //           inputborder.style.border = "2px solid red";
 //           //check.style.visibility = "hidden";
 //       } else if (count == 5) {            
 //           countingtext.style.color = "#32CD32";  
 //           inputborder.style.border = "2px solid #32CD32"
 //           //check.style.visibility = "visible";
 //       } else {            
 //           countingtext.style.color = "red";  
 //           inputborder.style.border = "2px solid red";
 //           //check.style.visibility = "hidden";      
 //       }                
        
 //       span.innerHTML = count;
        
 //       return count;
       
 //   }

 //   function countVowel52(){

 //       var input = document.getElementById("Content3").value;
 //       let count2 = 0;

 //       for (let letter of input.toLowerCase()){
 //           if (vowels.includes(letter)){
 //               count2++;
 //           }
 //       }
      
 //       var inputborder = document.getElementById("Content3");
 //       var area2 = document.getElementById("inserthere3");        
 //       var countingtext = document.getElementById("counttext3");
 //       //var check = document.getElementById("check3");
 //       countingtext.style.display = "block";

 //       if (count2 < 5) {
 //           countingtext.style.color = "red";  
 //           inputborder.style.border = "2px solid red";
 //           //check.style.visibility = "hidden";
 //       } else if (count2 == 5) {            
 //           countingtext.style.color = "#32CD32";  
 //           inputborder.style.border = "2px solid #32CD32"
 //           //check.style.visibility = "visible";
 //       } else {            
 //           countingtext.style.color = "red";  
 //           inputborder.style.border = "2px solid red";
 //           //check.style.visibility = "hidden";      
 //       }                
        
 //       area2.innerHTML = count2;
        
 //       return count2;
       
 //   }

 //   function countVowel7(){

 //       var input = document.getElementById("Content2").value;
 //       let count3 = 0;

 //       for (let letter of input.toLowerCase()){
 //           if (vowels.includes(letter)){
 //               count3++;
 //           }
 //       }
      
 //       var inputborder = document.getElementById("Content2");
 //       var area3 = document.getElementById("inserthere2");        
 //       var countingtext = document.getElementById("counttext2");
 //       //var check = document.getElementById("check2");
 //       countingtext.style.display = "block";

 //       if (count3 < 7) {
 //           countingtext.style.color = "red";  
 //           inputborder.style.border = "2px solid red";
 //           //check.style.visibility = "hidden";
 //       } else if (count3 == 7) {            
 //           countingtext.style.color = "#32CD32";  
 //           inputborder.style.border = "2px solid #32CD32"
 //           //check.style.visibility = "visible";
 //       } else {            
 //           countingtext.style.color = "red";  
 //           inputborder.style.border = "2px solid red";
 //           //check.style.visibility = "hidden";      
 //       }                
        
 //       area3.innerHTML = count3;
        
 //       return count3;
       
 //   }

     function countVowelOfAll(){

        //var rad1 = document.getElementById("Content1").value;
        //var rad2 = document.getElementById("Content2").value;
        //var rad3 = document.getElementById("Content3").value;

        //var tillsammans = rad1 + rad2 + rad3;
        var input = document.getElementById("Ha_Content").value;

        let count = 0;

        for (let letter of input.toLowerCase()){
            if (vowels.includes(letter)){
                count++;
            }
        }
       

        if(count == 17){
            //document.getElementById("Ha_Content").value = tillsammans;
            return true;
        } else{
            alert("Din haiku innehåller: " + count + " stavelser. En haiku ska innehålla 17 stavelser (5 + 7 + 5), vänligen se över detta och försök igen.");
            return false;
        }
       
       
    }
   

    
    
    </script>

}

