@model HaikuLab3.Models.ViewModelUserHaiku

@{
    ViewData["Title"] = "ShowMyPage";
}

<h1>@TempData["user"]s användarprofil</h1>


<div class="row">
    <div class="col">
        <div style="height: 300px; width: 300px; overflow: hidden; border: 1px solid #e5e5e5;">
            <img class="img-fluid" src="~/uploads/@Model.userDetail.Us_Photo" />
        </div>
    </div>
    <div class="col-8">
    <h5>Användaruppgifter</h5>
    <hr />
    <dl class="row">
        @foreach(HaikuLab3.Models.UserDetail UserDetail in Model.UserDetailList)
        {
            <dt class = "col-sm-2">
            Förnamn
        </dt>
        <dd class = "col-sm-10">
            @UserDetail.Us_Fname
        </dd>
         
          <dt class = "col-sm-2">
            Alias
        </dt>
        <dd class = "col-sm-10">
            @UserDetail.Us_Alias
        </dd>
        <br />
        <dt class = "col-sm-2">
            Beskrivning
        </dt>
        <dd class = "col-sm-10">
            @UserDetail.Us_Description
        </dd>
         }

     </dl>
     </div>
</div>

<hr />
<br />
<br />
<h5>Haikus</h5>
<table class = "table">
    <tr>
        <th>Titel</th>
        <th>Genre</th>
    </tr>

    @foreach (HaikuLab3.Models.HaikuListDetail HaikuListDetail in Model.HaikuListDetailList)
    {
        <tr>
            <td>@HaikuListDetail.Hl_Title</td>
            <td>@HaikuListDetail.Hl_Genre</td>
            <td>
                @Html.ActionLink("Visa haiku", "Details", "Start", new { id= HaikuListDetail.Hl_Title })
            </td>
        </tr>
    }

</table>
