@model HaikuLab3.Models.ViewModelUserHaiku

 

@{
    ViewData["Title"] = "ShowProfilePage";
}

 

@section MetaTags
{
    
    <meta name = "description" content = "Haiku 2.0 är ett community för alla som älskar Haikus. Se din favoritpoets sida här" />
    <meta name = "title" content = "@Model.userDetail.Us_Alias"/>
    <meta name = "language" content = "sv"/>
    <meta name = "type" content = "website"/>
    <meta name = "keywords" content = "profilsida, poet, @Model.userDetail.Us_Alias, haiku"/>
    <meta name = "publisher" content = "M. Haldorson, B. Salminen"/>
 

 

}

 

<h1 class="my-5">@TempData["user"]s användarprofil</h1>

 


<div class="row">
    <div class="col-lg-4">
        <div style="height: 300px; width: 300px; overflow: hidden; border: 1px solid #e5e5e5;">
            <img alt = "bild" class="img-fluid" src="~/uploads/@Model.userDetail.Us_Photo" />
        </div>
    </div>
    <div class="col-lg-8">
    <h5 class="my-5 my-lg-0">Användaruppgifter</h5>
    <hr />
    <table class="table">
        @foreach (HaikuLab3.Models.UserDetail UserDetail in Model.UserDetailList)
            {
            <tr>
                <th>Förnamn</th>
                <td>@UserDetail.Us_Fname</td>

 

            </tr>
            <tr>
                <th>Alias</th>
                <td>@UserDetail.Us_Alias</td>
            </tr>
            <tr>
                <th>Beskrivning</th>
                <td>@UserDetail.Us_Description</td>
            </tr>
            }
    </table>

 

    @*<dl class="row">
        @foreach(HaikuLab3.Models.UserDetail UserDetail in Model.UserDetailList)
        {
            <dt class = "col-sm-2">
            Förnamn
        </dt>
        <dd class = "col-sm-10">
            @UserDetail.Us_Fname
        </dd>
         
          <dt class = "col-sm-2">
            Alias
        </dt>
        <dd class = "col-sm-10">
            @UserDetail.Us_Alias
        </dd>
        
        <dt class = "col-sm-2">
            Beskrivning
        </dt>
        <dd class = "col-sm-10">
            @UserDetail.Us_Description
        </dd>
         }

 

     </dl>*@
     </div>
</div>

 

<hr class="my-5" />

 

<h5 class="mb-5">Haikus</h5>
<table class = "table">
    <tr>
        <th>Titel</th>
        <th>Genre</th>
    </tr>

 

    @foreach (HaikuLab3.Models.HaikuListDetail HaikuListDetail in Model.HaikuListDetailList)
    {
        <tr>
            <td>@HaikuListDetail.Hl_Title</td>
            <td>@HaikuListDetail.Hl_Genre</td>
            <td>
                @Html.ActionLink("Visa haiku", "Details", "Start", new { id= HaikuListDetail.Hl_Title })
            </td>
        </tr>
    }

 

</table>
<div class="text-center">
    @Html.ActionLink("Till startsidan", "Home", "Start", null, null)
</div>