@model HaikuLab3.Models.ViewModelHaikuRating



@{
    ViewData["Title"] = "Details";
}

@foreach(HaikuLab3.Models.HaikuDetail HaikuDetail in Model.HaikuDetailList)

@section MetaTags
{
    
    <meta name = "description" content = "Haiku 2.0 är ett community för alla som älskar Haikus. Här kan du skriva egna haikus men också läsa och betygsätta andras" />
    <meta name = "title" content = "@HaikuDetail.Ha_Title"/>
    <meta name = "language" content = "sv"/>
    <meta name = "type" content = "website"/>
    <meta name = "keywords" content = "Haiku,@HaikuDetail.Ha_Alias,@HaikuDetail.Ha_Genre,dikter"/>
    <meta name = "creator" content = "@HaikuDetail.Ha_Alias"/>
    <meta name = "publisher" content = "M. Haldorson, B. Salminen"/>
 

}
@*<head>
    <meta property = "og:type" content = "website" />
</head>*@

<body>
<h1>Visa haiku</h1>
<h5>@ViewData["detailtest"]</h5>



<div>
<hr />

<dl class="row">

    @foreach(HaikuLab3.Models.HaikuDetail HaikuDetail in Model.HaikuDetailList)
    {

     <dt class="col-sm-2">
            Titel
           
    </dt    >
        <dd class="col-sm-10">
            @HaikuDetail.Ha_Title
    </dd    >
        <dt class="col-sm-2">
            Text

       </dt>
        <dd class="col-sm-10">
            @HaikuDetail.Ha_Content
        </dd>
        <dt class="col-sm-2">
            Författare



       </dt>
        <dd class="col-sm-10">
            @Html.ActionLink(@HaikuDetail.Ha_Alias, "ShowProfilePage", "User", new { id= HaikuDetail.Ha_Alias }) 
        </dd>
        <dt class="col-sm-2">
            Genre



       </dt>
        <dd class="col-sm-10">
            @HaikuDetail.Ha_Genre
        </dd>

         <td>
                @Html.ActionLink("Betygsätt", "InsertRatingForm", "Start", new { id= HaikuDetail.Ha_Title })
            </td>
    
}

</dl>
</div>

<div>
    <dl class="row">

        @foreach(HaikuLab3.Models.RatingDetail RatingDetail in Model.RatingDetailList)
 {
         <dt class = "col-sm-2">
            Betyg
        </dt>
        <dd class = "col-sm-10">
            @RatingDetail.Ra_RatingAverage
        </dd>
       
 }

</div>

<div> 
    <a asp-action="Home">Till startsidan</a> 
    </div>

</body>