@model HaikuLab3.Models.ViewModelToplist

@{
    ViewData["Title"] = "Home";
}

<br />
<br />
<h1 class="display-4">Välkommen!</h1>
<br />
<br />
<br />

<h4>Topplista över våra mest flitiga Haiku-poeter!</h4>

<table class="table">
    <thead>
        <tr>
             <th>
                
            </th>
            <th>
                Författare
            </th>
            <th>
                Antal bidrag
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (HaikuLab3.Models.TopHaikuDetail TopHaikuDetail in Model.TopHaikuDetailList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => TopHaikuDetail.Th_Row)
            </td>
            <td>
                @Html.DisplayFor(modelItem => TopHaikuDetail.Th_Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => TopHaikuDetail.Th_Count)
            </td>
            <td>
                @Html.ActionLink("Visa användarprofil", "ShowProfilePage", "User", new { id= TopHaikuDetail.Th_Author })
            </td>
            
        </tr>
}
    </tbody>
</table>
<br />
<br />
<br />

<h4>Topplista över våra mest uppskattade haikus!</h4>

<table class="table">
    <thead>
        <tr>
             <th>
                
            </th>
            <th>
                Titel
            </th>
            <th>
                Betyg
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (HaikuLab3.Models.TopRatingDetail TopRatingDetail in Model.TopRatingDetailList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => TopRatingDetail.Tr_Row)
            </td>
            <td>
                @Html.DisplayFor(modelItem => TopRatingDetail.Tr_Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => TopRatingDetail.Tr_Average)
            </td>
            <td>
                @Html.ActionLink("Visa haiku", "Details", new { id= TopRatingDetail.Tr_Title })
            </td>
            
        </tr>
}
    </tbody>
</table>



