@model HaikuLab3.Models.RatingDetail

@{
    ViewData["Title"] = "InsertRatingForm";
}

<h2>Hej @TempData["Test"]</h2>

<h4>Betygsätt @TempData["Titel"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="InsertRatingForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="1">
                    1
                </label>
                <input type="radio" value="1" name="rating" id="1"/>
                <br />
                <label for="2">
                    2
                </label>
                <input type="radio" value="2" name="rating" id="2"/>
                <br />
                <label for="3">
                    3
                </label>
                <input type="radio" value="3" name="rating" id="3"/>
                <br />
                 <label for="4">
                    4
                </label>
                <input type="radio" value="4" name="rating" id="4"/>
                <br />
                 <label for="5">
                    5
                </label>
                <input type="radio" value="5" name="rating" id="5"/>
                <br />
         
                <span asp-validation-for="Ra_Rating" class="text-danger"></span>
            </div>

            <div>
                <input type="hidden" id="alias" name="alias" value="@TempData["Test"]"/>
            </div>

            <div class="form-group">
                <input type="submit" value="Betygsätt" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Tillbaka", "Details", "Start", new { id = @TempData["Titel"] })
</div>
