@model HaikuLab3.Models.ViewModelHaikuList

 

 

 

@{
    ViewData["Title"] = "Testtest";
}

 

<h1 class="text-center my-5">Visa alla Haiku</h1>

 

<div class="row mb-3">
    <div class="form-group col-10 col-md-8 col-lg-6 mx-auto">
        <form asp-action="Testtest">
            <div class="form-group d-flex">
                <input class="form-control" type="text" id="search" name="search" />
                <input type="submit" value="Sök" class="btn btn-secondary" />
            </div>
        </form>
        <form asp-action="Testtest">
            <div class="form-group d-flex col-8 mt-3">
                <select class="form-control form-select dropdown" id="search" name="search">
                    @foreach (HaikuLab3.Models.GenreDetail GenreDetail in Model.GenreDetailList)
                    {
                        <option value="@GenreDetail.Ge_Name"> @GenreDetail.Ge_Name </option>

 

                    }
                </select>
                <input type="submit" value="Filtrera" class="btn btn-secondary" />
            </div>

 

        </form>
    </div>
</div>

 

<div class="row mt-5">
    <div class="col d-none d-md-block">
        <img src="~/images/Cool Kids - Standing.svg" class="img-fluid" />
    </div>
    <div class="col col-md-8">
        <table class="table table-hover" id="testsortering">
            <thead>
                <tr>
                    <th onclick="sortTable(0)">Titel</th>
                    <th onclick="sortTable(1)">Författare</th>
                    <th onclick="sortTable(2)">Genre</th>
                </tr>
            </thead>

 

            <tbody>
                @foreach (HaikuLab3.Models.HaikuListDetail HaikuListDetail in Model.HaikuListDetailList)
                {
                    <tr>
                        <td>@Html.ActionLink(HaikuListDetail.Hl_Title, "Details", new { id = HaikuListDetail.Hl_Title })</td>
                        <td>@Html.ActionLink(@HaikuListDetail.Hl_Author, "ShowProfilePage", "User", new { id = HaikuListDetail.Hl_Author })</td>
                        <td>@HaikuListDetail.Hl_Genre</td>
                    </tr>

 

                }
            </tbody>
        </table>
    </div>

 

</div>

 


<script>
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("testsortering");
        switching = true;
        //Set the sorting direction to ascending:
        dir = "asc";
        /*Make a loop that will continue until
        no switching has been done:*/
        while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 1; i < (rows.length - 1); i++) {
                //start by saying there should be no switching:
                shouldSwitch = false;
                /*Get the two elements you want to compare,
                one from current row and one from the next:*/
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /*check if the two rows should switch place,
                based on the direction, asc or desc:*/
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /*If a switch has been marked, make the switch
                and mark that a switch has been done:*/
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                //Each time a switch is done, increase this count by 1:
                switchcount++;
            } else {
                /*If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again.*/
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }

 

</script>