@model IEnumerable<HaikuLab3.Models.TopHaikuDetail>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Välkommen!</h1>
    
</div>

<h4>Topplista över våra mest flitiga Haiku-poeter!</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                Författare
            </th>
            <th>
                Antal bidrag
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Th_Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Th_Count)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
